/* Vendor styles */
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/font-awesome";

/* Global styles */
body {
}
/* Helpers */
.center-block {
  float: none;
}
/* Forms */
.login-form--forgot-password {
  text-align: right;
  margin-top: 10px;
}

/* Footer */
.credits {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.love {
    color: #faafba;
}
@import "header";