$icon-font-path: '../fonts/';

/* Vendor styles */
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* Global styles */
body {
}

/* Helpers */
.center-block {
  float: none;
}

/* Forms */
.login-form--forgot-password {
  text-align: right;
  margin-top: 10px;
}
.query-form {
  margin-bottom: 20px;
}
.search-result {
  font-weight: normal;

  .label {
    font-size: 1em;
  }
  .card {
    border: 1px solid #555;
    color: #555;
  }
  [type=radio] {
    zoom: 1.5;

    position: relative;
    top: 2px;
    margin-right: 4px;

    &:focus {
      outline: none;
    }
  }
  &.selected {
    background-color: #eee;
  }
  &.has-card {
    padding-left: 44px;
  }
}


/* Footer */
.credits {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.love {
    color: #faafba;
}

/* Header */
@import "header";