{% load i18n %}
<div class="login-form">
    <form method="post" action="{% url "login" %}">
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}<br />
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
            <div>
                <label>{% trans "Email" %}</label>
                {{ form.username }} {{ form.username.errors }}
            </div>
            <div>
                <label>{% trans "Password" %}</label>
                {{ form.password }} {{ form.password.errors }}
            </div>
            <div>
            <button type="submit" class="large-12 large-centered columns btn-action">{% trans "Log in" %}</button>
            </div>
            <div class="text-right">
                <a href="{% url "password_reset" %}">{% trans "Forgot username or password?" %}</a>
            </div>

    </form>
</div>
