{% extends "base.html" %}
{% load i18n %}
{% block title %}Få nytt passord{% endblock %}
{% block content %}
<div class="row">
    <div class="large-4 large-centered columns">
        <!--Allows a user to reset their password by generating a one-time use link that can be used to reset the password, and sending that link to the user's registered email address.-->
        <form method="post">
            <h1>{% trans "Forgot password?" %}</h1>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}<br />
            {% endif %}
            {% csrf_token %}
            <div>
                <label>{% trans "Email" %}</label>
                {{ form.email }} {{ form.email.errors }}
            </div>
            <button type="submit" class="large-12 large-centered columns btn-action">{% trans "Send a new one" %}</button>
        </form>
    </div>
</div>
{% endblock %}

