{% extends "base.html" %}
{% block title %}Bekreft nytt passord{% endblock %}
{% block content %}
<div class="row">
    <div class="small-5 small-centered columns">
    <!--Presents a form for entering a new password.-->
    {% if validlink %}
        <h1>Vennligst velg et nytt passord</h1>
        <p>Ditt nye passord må være på miminum 8 tegn.</p>
        <form method="post">
            {{ form.non_field_errors }}
            {% csrf_token %}
                <label for="id_new_password1">Nytt passord: </label>
                <div>{{ form.new_password1 }}{{ form.new_password1.errors }}</div>
                <label for="id_new_password2">Bekreft nytt passord: </label>
                <div>{{ form.new_password2 }}{{ form.new_password2.errors }}</div>
                <button type="submit" class="btn-action right">Endre passordet mitt</button>
        </form>
    {% else %}
        <p>Nytt-passord-lenken er ikke gyldig eller har allerede blitt brukt.</p>
        <!--The password reset link is not valid or allready used.-->
    {% endif %}
    </div>
</div>

{% endblock %}
