{% extends "base.html" %}
{% load i18n bootstrap %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Register membership card" %}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <form>
            <h3 style="margin-top: 0;">{% trans "Lookup existing user" %}</h3>
            {{ search_user_form|bootstrap }}
            <h3>{% trans "Register card" %}</h3>
            {{ add_card_form|bootstrap }}
            <p><em>Registering a card number with a phone number already tied to an existing user, will add the card to that user.</em></p>
            <button type="submit" class="btn btn-primary btn-lg">{% trans "Register" %}</button>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Results</div>
            <div class="panel-body results-wrap">
                &nbsp;
            </div>
        </div>
    </div>
</div>
{% endblock %}